<link rel="stylesheet" href="/css/footer.css">


        <footer>

            <img src="/images/Circle.svg" alt="Kreis">

            <ul class="Link-Adresse-Footer">
              <li><a href="#">Nil Sägesser</a></li>
              <li><a href="#">Seestrasse 340</a></li>
              <li><a href="#">8002 Zürich</a></li>
            </ul>

            <ul class="Link-Socialmedia-Footer">
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Linkedin</a></li>
              </ul>
            
              <ul class="Link-Recht-Footer">
                <li><a href="#">Impressum</a></li>
                <li><a href="#">Datenschutz</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>

            <img src="/images/Circle.svg" alt="Kreis">


          </footer>