 <header>
        <nav>
            <ul>
                <li><a href="/">WORK</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/detail">DETAIL</a></li>
             </ul>
        </nav>
 </header>