 <header>
        <nav>
            <ul>
                <li><a href="{{ '/' | url }}">WORK</a></li>
                <li><a href="{{ '/about' | url }}">ABOUT</a></li>
                <li><a href="{{ '/detail' | url }}">DETAIL</a></li>
             </ul>
        </nav>
 </header>